@font-face {

    font-family: 'FontAwesomebrand';

    src: url('../webfonts/fa-brands-400.eot');

    src: url('../webfonts/fa-brands-400.eot') format('embedded-opentype'),

      url('../webfonts/fa-brands-400.woff') format('woff'),

      url('../webfonts/fa-brands-400.ttf') format('truetype');

    font-weight: normal;

    font-style: normal;

  }
